/* header */
header {
    background-color: #2A9D8F;
    padding: 38px 130px;
    width: 1440px;
    margin: auto;
}

.header_logo {
    width: 46px;
    height: 46px;
    vertical-align: middle;
}

.header_nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 857px;
}

.header_li {
    display: inline-block;
}

.sec_head_li {
    margin-inline: 47px;
}

.header_a {
    color: white;
    font-size: 20px;
    font-family: Nerko One;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10px;
}

/* main_article */
.article_main {
    width: 780px;
    height: 434px;
    margin: 200px auto;
}

h2 {
    color: #4D4D4D;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 62.40px;
    letter-spacing: 0.24px;
    text-align: center;
}

.main_p1,
.main_p2 {
    color: #656565;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.10px;
    text-align: justify;

}

.main_p1 {
    margin-top: 60px;
    margin-bottom: 52px;
}

/* secrtion1 */
.section1 {
    width: 1440px;
    padding: 80px 130px;
    background-color: #C2F3EE;
    margin: auto;
}

.section1_pic {
    width: 600px;
    height: 560px;
    vertical-align: top;
}

.section1_article {
    display: inline-block;
    vertical-align: top;
    width: 460px;
    height: 538px;
    margin-left: 116px;
}

h3 {
    color: #272727;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.16px;
    margin-bottom: 27px;
}

.section1_p {
    color: #515151;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.09px;
    margin-bottom: 56px;
}

button {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 11px 16px;
    background-color: #2A9D8F;
    border-color:  #2A9D8F;
}
